@charset "utf-8";

img{
	border: 0;
}

.floatleft{
	float: left;
}

.floatright{
	float: right;
}

.center{
	font-size: 2.5em;
	padding: 80px 0;
}

/*inline nav*/
#inav{
    z-index: 999;
    position:fixed;
    bottom:10px;
    right:15px;
}

/* horizontal nav*/
#hnav-container{
    position: fixed;
    left:40;
    top:0;
    height:40px;
    margin:0;
    width:100%;
    background:#000000;
	z-index: 100;
	/*overflow: auto;*/ /*hidden;*/
	/*float: right;
	text-align: right;*/

    /*font-size:12px;
    font-family: Courier, serif;
    font-style: normal;
    font-weight: 400;*/
}

#hnav{
    position: fixed;
	list-style: none;
    margin:0;
    padding:10px 0 0 20px;
}

.hnav_fadein
{
	opacity: 1 !important;
	-webkit-transition: opacity 0.25s ease-in;
	-moz-transition: opacity 0.25s ease-in;
	-o-transition: opacity 0.25s ease-in;
	-ms-transition: opacity 0.25s ease-in;
}

#nav-container{
    position: fixed;
    left:0;
    top:0;
    height:100%;
    margin:0;
    width:40px;
    background:#000000;

    font-size:12px;
    font-family: Courier, serif;
    font-style: normal;
    font-weight: 400;
}
#nav{
    position: fixed;
	list-style: none;
    margin:0;
    padding:0 10px;
}

#nav li{
	margin: 0 0 15px 0;
    height: 20px;
    width: 20px;
    background: url(../images/menu_off.jpg) no-repeat;
}
#nav li:hover{
    background: url(../images/menu_on.jpg) no-repeat;
}
#nav li.nobg { background: none; }
#nav li.home { background: url(../images/menu_home_b.png) no-repeat; }
#nav li a {
    display:block;
    padding:3px 0 0;
    text-align:center;
    color: #000000;
    text-decoration: none;
}



#nav-bottom{
    position: absolute;
    bottom: 10px;
    list-style: none;
    margin:0;
    padding:0 10px;
}

#nav-bottom li{
    margin: 0 0 15px 0;
    height: 20px;
    width: 20px;
    background: url(../images/menu_off.jpg) no-repeat;
}
#nav-bottom li:hover{
    background: url(../images/menu_on.jpg) no-repeat;
}
#nav-bottom li a {
    display:block;
    padding:3px 0 0;
    text-align:center;
    color: #000000;
    text-decoration: none;
}

#nav-arrow{
    position: absolute;
    left: 40px;
    background: url(../images/menu_arrow.png) no-repeat top left;
    width:100px;
    height:200px;
    z-index:999;
}

#chapter-overlay{
    position:absolute;
    left:60px;
    top: 350px;
    z-index:999;
    width: 230px;
    background: #000000;
    opacity: 0.7;
    color: #ffffff;
    text-align: center;
    padding: 13px 5px;
}
#chapter-title{
    font-size: 15px;
    line-height:22px;
    font-family: 'lucida grande', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#chapter-description{
    font-size: 10px;
    font-family: Courier, sans-serif;
    line-height: 16px;
    vertical-align: bottom;
    letter-spacing: 1.2px;
}

#date{
    z-index: 999;
    position:absolute;
    top:5px;
    right:5px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
.date_day, .date_month, .date_year {
    font-size: 15px;
    font-family: "din-condensed-web",sans-serif;
    font-style: normal;
    font-weight: 400;
}
.date_day {
    font-size: 45px;
    line-height: 40px;
}
#facebook{
    z-index: 999;
    position:fixed;
    bottom:10px;
    right:95px;
    width:15px;
    height:15px;
}
#twitter{
    z-index: 999;
    position:fixed;
    bottom:10px;
    right:75px;
    width:15px;
    height:15px;
}
#instagram{
    z-index: 999;
    position:fixed;
    bottom:10px;
    right:55px;
    width:15px;
    height:15px;
}
#pinterest{
    z-index: 999;
    position:fixed;
    bottom:10px;
    right:35px;
    width:15px;
    height:15px;
}
#tumblr{
    z-index: 999;
    position:fixed;
    bottom:10px;
    right:15px;
    width:15px;
    height:15px;
}
#main-container {
    float:left;
    width:100%;
    margin:0;
    padding:0;
    text-align: center;
}

.static-container{
    text-align:center;
    margin: 0 auto;
    min-width: 980px;
    width: 980px;
    padding: 0;
    position:relative;
}
.static-container.textleft{ text-align: left; }
.static-container.textright{ text-align: right; }
.static-container .floatleft, .static-container .floatright{
    width: 350px;
}
.pseudo-static-container{
    position: absolute;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dynamic-container{
    position:absolute;
    margin: 0 auto;
    width: 100%;
    padding: 0;
}
.dynamic-img{
    /*border:1px solid red;*/
    width:980px;
    margin: 0 auto;
}

.chapter{
    position: relative;
    height: 1400px;
    margin: 0 0 0 40px;
    padding: 0;
    z-index: 1;
}
.chapter .static-img {
    margin: 300px 0 0;
}
#chapter0_1{
    background:url(../images/ch0_bg01.jpg) 50% 0 no-repeat fixed;
}

#chapter1_1{
	background: url(../images/ch1_bg01.jpg) 50% 0 no-repeat fixed;
}

#chapter2_1{
    background: url(../images/ch2_bg01.jpg) 50% 0 no-repeat fixed; 
}

#chapter3_1{
    background: url(../images/ch3_bg01.jpg) 50% 0 no-repeat fixed; 
}

#chapter4_1{
    background: url(../images/ch4_bg01.jpg) 50% 0 no-repeat fixed; 
}

#chapter5_1{
    background: url(../images/ch5_bg01.jpg) 50% 0 no-repeat fixed; 
}
    
#chapter6_1{
    background: url(../images/ch1_bg01.jpg) 50% 0 no-repeat fixed; /* default section n.1 bg */
    /*height:1100px;*/
}
    #chapter6_1_2{
        background: url(../images/ch6_graphic01b.jpg) 70% 0 no-repeat fixed;
        position: absolute;
        z-index: 200;
        height: 100%;
        width: 100%;
    }
    #chapter6_1_3{
        background: url(../images/ch6_graphic01c.jpg) 70% 0 no-repeat fixed;
        position: absolute;
        z-index: 200;
        height: 100%;
        width: 100%;
    }
    #chapter6_1_4{
        background: url(../images/ch6_graphic01d.jpg) 70% 0 no-repeat fixed;
        position: absolute;
        z-index: 200;
        height: 100%;
        width: 100%;
    }

#chapter6_2{
    background: url(../images/ch1_bg03.jpg) 50% 0 no-repeat fixed; /* default section n.1 bg */
    /*height:1300px;*/
}
    #chapter6_2_2{
        background: url(../images/ch6_graphic02b.png) 70% 0 no-repeat fixed;
        position: absolute;
        z-index: 200;
        height: 100%;
        width: 100%;
    }
#chapter6_3{
    background: url(../images/ch1_bg01.jpg) 50% 0 no-repeat fixed; /* default section n.1 bg */
    height:200px;
}

.lines{
    position:absolute;
    z-index: 999999;
}


#subpages-container{
    width:776px;
    margin:0px auto;
    margin-top:50px;
    text-align: center;
    vertical-align: top;
    font-family: "din-condensed-web",sans-serif;
}
#subpages-container div, #subpages-container div p{
    font-size: 18px;
    line-height: 22px;
    font-family: "din-condensed-web",sans-serif;
}
#subpages-container div p {
    margin-right:10px;
}
#subpages-container div p a {
    color:#555;
}

.line{
    float:left;
    margin:15px 0;
}

.final { font-size:14px; position:relative; top:-40px; text-align:center; font-family:arial, sans-serif; }

.final a, .final a:visited { color: #000; }


/* ==========================================================================
   Main Navigation
   ========================================================================== */

.hnav-main-navigation {
	text-align: left;
	float: right;
	clear: right;
	margin: 45px 0 0 0;
	margin: 2.8125rem 0 0 0;
}

.hnav-main-navigation h1 {
	font-size: 32px;
	font-size: 2rem;
	line-height: 1.25;
}

.hnav-menu {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.5;
}

.hnav-main-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hnav-main-navigation li {
	float: left;
	position: relative;
	margin: 0 0 0 0px; /* 0 0 0 20 Margin on the left side of each top level menu item (since it's floated right) */
	margin: 0 0 0 1.25rem;
}

.hnav-main-navigation ul ul li {
	margin: 0;
}

.hnav-main-navigation li.menu-parent-item > a:after { /* If you don't want the arrows on the top level drop down, simply remove this style */
	font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
	speak: none;
	vertical-align: middle;
	font-size: 9px;
	font-size: 0.5625rem;
	content: " \f078";
}

.hnav-main-navigation ul li li.menu-parent-item > a:after { /* If you don't want the arrows on the sub-menu options, simply remove this style */
	font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
	speak: none;
	vertical-align: middle;
	font-size: 9px;
	font-size: 0.5625rem;
	content: " \f054";
}

.hnav-main-navigation ul a {
	padding: 0; /* Padding around each top level menu option (if needed) */
}

.hnav-main-navigation ul ul a {
	padding: 0 5px; /* Padding around each dropdown menu option */
	padding: 0 0.3125rem;
}

.hnav-main-small-navigation a, .hnav-main-navigation a {
	display: block;
	text-decoration: none;
	color: #fff; /* 333 Nav bar link color */
}

.hnav-main-navigation ul ul {
	display: none;
	position: absolute;
	left: 0;
	z-index: 99999;
	line-height: 1.7;
	background-color: #333; /* Nav bar dropdown background color */
	-webkit-box-shadow:2px 2px 5px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.6);
}

.hnav-main-navigation ul ul ul {
	left: 100%;
	top: 0;
}

.hnav-main-navigation ul ul a {
	color: #fff; /* Nav bar dropdown link color */
	width: 10.5em; /* Nav bar dropdown width */
}

.hnav-main-navigation ul ul li {
}

.hnav-main-navigation li:hover > a {
	color: #2997ab; /* Nav bar link color on hover */
}

.hnav-main-navigation ul ul :hover > a {
	color: #333; /* Nav bar dropdown level 2 link color on level 3 hover */
	background-color: #fff; /* Nav bar dropdown link background color on hover */
}

.hnav-main-navigation ul ul a:hover {
	color: #2997ab; /* Nav bar dropdown link color on hover */
}

.hnav-main-navigation ul li:hover > ul {
	display: block;
}

.hnav-main-navigation li.current_page_item a,
.hnav-main-navigation li.current-menu-item a {
}

.hnav-main-navigation .current-menu-item > a,
.hnav-main-navigation .current-menu-ancestor > a,
.hnav-main-navigation .current_page_item > a,
.hnav-main-navigation .current_page_ancestor > a {
	color: #2997ab; /* Nav bar link color for current menu item or ancestor */
}

.hnav-main-navigation ul .divider {
    border-bottom: 1px solid #aaa;
    height: 0;
    line-height: 0.0625;
    overflow: hidden;
}

.hnav-main-navigation ul li.dropdown-header a,
.hnav-main-navigation ul li.current-menu-item ul .dropdown-header a {
	color: #aaa; /* Nav bar dropdown header color */
	background-color: #333; /* Nav bar dropdown header background color */
}

/* Small menu toggle for mobile devices */
.hnav-menu-toggle {
	cursor: pointer;
}

.hnav-main-small-navigation .hnav-menu {
	display: none;
}

